<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO-List</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

	<header>
		<div id="headline-create" class="headline-main">
			<p>Neues ToDo erstellen</p>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 main_table">
				<div class="text"></div>
					<form action="{% url 'create_new' %}" method="post">
						{% csrf_token %}
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th style="width:500px">ToDo-Text</th>
										<th>Deadline</th>
										<th style="width:50px">Fortschritt</th>
									</tr>
								</thead>
									<tbody>
										<tr>
											<td>
												<div class="form-group">
													<input class="form-control" rows="2" id="todo_text" name="todo_text" type="text"></input>
												</div>
											</td>
											<td>
												<div class="form-group">
													<input class="form-control" rows="1" id="todo_deadline" name="todo_deadline" type="date"></input>
												</div>
											</td>
											<td>
												<div class="form-group">
													<input class="form-control" rows="1" id="todo_progress" name="todo_progress" type="number" min="0" max="100"></input>
												</div>
											</td>
										</tr>
									</tbody>
							</table>
							<a href="/todo" id="home" class="btn btn-primary"> Zurück </a>
							<input type="submit" value="Speichern" class="btn btn-primary" id="todo_save"></input>
						</div>
					</form>					
				</div>
			</div>
		</div>
</body>

</html>