.headline-main {
  text-align:center;
  font-size:25px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.button-icon {
  margin:-3px 2px 3px -2px;
  width:12px;
  height:16px;
  padding:0;
}

/* delete and edit button */
.todo-edit-btn{
	width:35px;
	height:35px;
	padding: 7px 12px;
	margin: 2px;
	background-color: rgb(0,139,6);
}

.todo-delete-btn{
	width:35px;
	height:35px;
	padding: 7px 12px;
	margin: 2px;
	background-color:rgb(201,15,3);
}

.progress_bar_style{
	margin-top: 10px;
}

#todo_text, #todo_deadline, #todo_progress {
	margin-top: 12px;
}

#todo_save {
	margin: 7px;
}

#create_new_btn {
	margin: 7px;

}