.headline-main {
  text-align:center;
  font-size:25px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.button-icon {
  margin:-3px 2px 3px -2px;
  width:12px;
  height:16px;
  padding:0;
}

/* delete and edit button */
.todo-btn{
	width:35px;
	height:35px;
	padding: 7px 12px;
	margin: 2px;
}

#todo_deadline, #todo_progress {
	margin-top: 12px;
}

#todo_save {
	margin-top: 12px;
	height: 49px;
}

#create_new_btn {
	margin: 7px;
}